.radio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px;
    cursor: pointer;
    transition: background-color .3s;
}
.radio:hover{
    background-color: #25252f;
}

.player{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
}